.spinner {
  display: inline-block;
  position: relative;
  --_size: var(--size-18-24);
  --_inner-size: var(--size-16-22);
  --_thickness: var(--size-2-4);
  --_color: var(--ocean);
  width: var(--_size);
  height: var(--_size);
  min-height: var(--_size);
}

.spinner.large {
  --_size: calc(2 * var(--size-18-24));
  --_inner-size: calc(2 * var(--size-16-22));
  --_thickness: calc(2 * var(--size-2-4));
}

.spinner.light {
  --_color: var(--light);
}

.spinner.dark {
  --_color: var(--dark);
}

.spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: var(--_inner-size);
  height: var(--_inner-size);
  margin: 2px;
  border: var(--_thickness) solid var(--_color);
  border-radius: 50%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--_color) transparent transparent transparent;
}

.spinner div:nth-child(1) {
  animation-delay: -0.45s;
}

.spinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}