.loader {
  --diameter: 20px;
  --radius: calc(0.5 * var(--radius));
  width: calc(5 * var(--radius));
  height: var(--diameter);
  border-radius: 50%;
  background-color: #FFF;
  box-shadow: var(--radius) 0 #FFF, var(--diameter) 0 #FFF;
  position: relative;
  animation: flash 0.5s ease-out infinite;
}

.loader.small {
  --diameter: 16px;
}

.loader.medium {
  --diameter: 24px;
}

.loader.large {
  --diameter: 32px;
}

@keyframes flash {
  0% {
    background-color: #FFF;
    box-shadow: var(--radius) 0 #FFF2, var(--diameter) 0 #FFF2;
  }
  50% {
    background-color: #FFF2;
    box-shadow: var(--radius) 0 #FFF, var(--diameter) 0 #FFF2;
  }
  100% {
    background-color: #FFF2;
    box-shadow: var(--radius) 0 #FFF2, var(--diameter) 0 #FFF;
  }
}
      