.container {
  --diameter: 20px;
  --radius: calc(0.5 * var(--diameter));
  --animation-time: 0.5s;
  display: flex;
  gap: var(--diameter);
}

.b3,
.b2,
.b1 {
  border-radius: var(--radius);
  width: var(--radius);
  height: var(--radius);
  border-radius: 50%;
  background-color: #FFF;
  animation: flash var(--animation-time) ease-out infinite;
}

.b2 {
  animation-delay: var(--animation-time);
}

.b3 {
  animation-delay: calc(2 * var(--animation-time));
}

.container.small {
  --diameter: 16px;
}

.container.medium {
  --diameter: 24px;
}

.container.large {
  --diameter: 32px;
}

@keyframes flash {
  0% {
    background-color: #FFF;
  }
  50% {
    background-color: #FFF2;
  }
  100% {
    background-color: #FFF2;
  }
}
      