.container-xsmall,
.container-small,
.container-medium,
.container-large,
.container {
  --diameter: var(--size-18-20);
  --radius: calc(0.5 * var(--diameter));
  --animation-time: 2s;
  display: flex;
  gap: var(--radius);
}

.b3,
.b2,
.b1 {
  border-radius: var(--radius);
  width: var(--radius);
  height: var(--radius);
  border-radius: 50%;
  background-color: #FFF;
}

.b1 {
  animation: b1 var(--animation-time) linear infinite;
}

.b2 {
  animation: b2 var(--animation-time) linear infinite;
  background-color: #FFF2;
}

.b3 {
  animation: b3 var(--animation-time) linear infinite;
  background-color: #FFF2;
}

.container-xsmall {
  --diameter: var(--size-12-14);
}

.container-small {
  --diameter: var(--size-14-16);
}

.container-medium {
  --diameter: var(--size-20-24);
}

.container-large {
  --diameter: var(--size-24-32);
}

@keyframes b1 {
  0% {
    background-color: #FFF;
  }
  25% {
    background-color: #FFF;
  }
  50% {
    background-color: #FFF2;
  }
  75% {
    background-color: #FFF2;
  }
  100% {
    background-color: #FFF;
  }
}

@keyframes b2 {
  0% {
    background-color: #FFF2;
  }
  25% {
    background-color: #FFF;
  }
  50% {
    background-color: #FFF;
  }
  75% {
    background-color: #FFF2;
  }
  100% {
    background-color: #FFF2;
  }
}

@keyframes b3 {
  0% {
    background-color: #FFF2;
  }
  25% {
    background-color: #FFF2;
  }
  50% {
    background-color: #FFF;
  }
  75% {
    background-color: #FFF;
  }
  100% {
    background-color: #FFF2;
  }
}
      